.quick-and-clean {
  .wrapper {
    display: flex;
    padding: var(--padding-80, 80px) var(--padding-16, 16px);
    flex-direction: column;
    gap: var(--spacing-32, 32px);
  }
  .quick-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16, 16px);
    h2 {
      color: var(--color-primary, #005299);
    }
  }
  .quick-holder {
    display: flex;
    padding-bottom: var(--padding-20, 0px);
    flex-direction: column;
    gap: var(--spacing-12, 12px);
    .quick-box {
      display: flex;
      padding: var(--padding-16, 16px);
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-12, 12px);

      max-width: 343px;
      width: 100%;
      margin: auto;

      border-radius: var(--border-4, 4px);
      background: var(--color-background, #edf7fe);
      .text {
        text-align: center;
      }
    }
  }
  .image {
    text-align: center;
  }
}
