.nav {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-4, 4px) var(--padding-16, 16px);
  }
}
.nav-buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-8, 8px);
}
@media screen and (min-width: 768px) {
  .nav {
    padding: 4px 0px;
    .nav-buttons {
      max-width: 170px;
      width: 100%;
    }
    .phone {
      width: 100%;
    }
  }
}
