.get-a-quote {
  background: linear-gradient(
      0deg,
      var(--neutral-grey-dark, rgba(17, 17, 17, 0.64)) 0%,
      var(--neutral-grey-dark, rgba(17, 17, 17, 0.64)) 100%
    ),
    url("../img/quotebg.webp"), lightgray 50%;
  background-size: auto 150%;
  background-position: center;
  background-repeat: no-repeat;
  .wrapper {
    display: flex;
    padding: var(--padding-80, 80px) var(--padding-16, 16px);
    flex-direction: column;
    align-items: center;
    h2 {
      color: var(--neutral-white, #fff);
      margin-bottom: 16px;
    }
    .sub-text {
      color: var(--neutral-white, #fff);
      position: relative;
      margin-bottom: 64px;
      z-index: 1;
    }
    .arrow {
      position: absolute;
      left: -6px;
      bottom: -45px;
      z-index: -1;
    }
    .email-box {
      margin-bottom: 16px;
    }
    .small-text-box {
      p {
        color: var(--neutral-white, #fff);
      }
    }
  }
}
